table{
    border-collapse: collapse;
    text-align: center;
}
td{
    padding: 5px;
}

th::first-letter {
    font-size: 130%;
  }

th{
    background-color: rgb(255, 145, 145);
}
td:first-child{
    background-color: rgb(255, 145, 145);
}